.form,
.form fieldset {
  background-color: var(--btn-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  padding: 1rem;
  overflow-y: auto;
}

.form fieldset {
  border: 0;
}

.form label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form input {
  font-size: 1rem;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
}

.form-controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form-btn_add {
  width: 32px;
  height: 32px;
  padding: 0;
  margin-left: auto;
  margin-bottom: 1rem;
}
