.form,
.form fieldset {
  background-color: var(--btn-color);
  display: flex;
  flex-direction: column;
}

.form {
  padding: 1rem;
  overflow-y: auto;
  max-height: 75vh;
}

.form fieldset {
  border: 0;
  justify-content: center;
}

.form label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form input {
  font-size: 1rem;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
}

.form-controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.form-fieldset_add {
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  flex-shrink: 0;
}

.form .fieldset-container {
  background-color: rgb(230, 230, 230);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
}

.form fieldset {
  background-color: transparent;
  padding: 0.25rem;
}

.form fieldset:disabled input {
  cursor: not-allowed;
}

.form-fieldset_remove {
  border-top: 1px solid hotpink;
}

@media (max-width: 768px) {
  .form {
    padding: 0.5rem;
  }
}
