.panel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.panel-button {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.panel-container.active .panel-button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.panel-inputs {
  background-color: var(--btn-color);
}
